{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 mt-5">
                <div class="text-info">
                {% if form.errors %}
                    <p class="text-danger">Ваше имя пользователя или пароль не найдены. Пожалуйста, попробуйте еще раз.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p class="text-danger">Ваша учетная запись не имеет доступа к этой странице. Продолжите,
                            пожалуйста, войдя в систему с учетной записью, которая имеет доступ.</p>
                    {% else %}
                        <p>Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
                    {% endif %}
                {% endif %}
                </div>

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table class="ml-auto mr-auto">

                        <tr>
                            <td>{{ form.username.label_tag }}</td>

                        </tr>
                        <tr>
                            <td>{{ form.username }}</td>
                        </tr>

                        <tr>
                            <td>{{ form.password.label_tag }}</td>

                        </tr>
                        <tr>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>

                    <input class="btn btn-info mt-3 w-100" type="submit" value="Войти"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

            </div>
        </div>
    </div>
{% endblock %}